# Ignore test folder
test*/

# Ignore logs
*.solmisasi.log
*.log

*.md~*
/Gemfile.lock
/docs/*/*.ly
/docs/*/*.pdf
/docs/ly
/examples/*.pdf
/releases
/repository-open-graph-template.png
/solmisasi-art.png
/solmisasi-lily-v1.0.0-min.zip
/solmisasi.png
/tools
/tools/solmisasi2ly/roman.pm
_site

# Temporary Lilypond files
*tmp-lilypond*
